<div class="card" id="product-{{ product.id }}">
    <img src="{{ product.image }}" class="card-img-top"/>
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-title" style="font-weight: bold; font-size: 1.5rem;">
            {{ product.price | number_format(0, ',', ' ') }} F CFA
            {% if product.promo %}
                <div class="text text-warning">Promo !</div>
            {% endif %}
        </div>
        <p class="text text-muted">{{ product.description }}</p>

        <div>
            {% for c in product.categories %}
                <em class="text-muted text-primary text-italic">#{{ c.name }}</em>
            {% endfor %}
        </div>

    </div>
</div>
